@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  width: 480px;
  grid-gap: 20px;
  border: 1px solid #eee;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px 20px;
}
.todo-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 20px;
}
.todo-form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  width: 100%;
  font-size: 16px;
}
.todo-form input:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.todo-form button {
  border-radius: 5px;
  background: rgb(0, 110, 255);
  color: #fff;
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}
.todo-form button:hover {
  background: rgb(3, 75, 170);
}
.todo-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.todo-items .todo-item {
  border-bottom: 2px solid #eee;
  padding: 10px;
}
.todo-items .todo-item label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-items .todo-item label span {
  font-size: 18px;
}
.todo-items .todo-item label button {
  padding: 7px 12px;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all;
}
.todo-items .todo-item label button:hover {
  background-color: rgb(129, 2, 2);
}
.todo-footer {
  display: flex;
  justify-content: space-between;
}
.todo-footer button {
  background-color: rgb(27, 165, 9);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
  transition: 0.3s all;
}
.todo-footer button:hover {
  background-color: rgb(11, 88, 1);
}
